APP_NAME=
APP_TAGLINE=
APP_DESCRIPTION=
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=

APP_LOCALE=pt_BR
APP_FALLBACK_LOCALE=pt_BR
APP_FAKER_LOCALE=pt_BR
APP_TIMEZONE=America/Sao_Paulo

APP_LOGIN_METHOD=username

APP_MAINTENANCE_DRIVER=file
# APP_MAINTENANCE_STORE=database
# PHP_CLI_SERVER_WORKERS=4

# HASHING
HASH_DRIVER=argon2id
ARGON_MEMORY=65536
ARGON_TIME=4
ARGON_THREADS=1
HASH_VERIFY=true
REHASH_ON_LOGIN=true

# LOGGING
LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

# DATABASE
DB_CONNECTION=sqlite
# DB_HOST=127.0.0.1
# DB_PORT=3306
# DB_DATABASE=laravel
# DB_USERNAME=root
# DB_PASSWORD=

# SESSION
SESSION_DRIVER=database
SESSION_LIFETIME=120
SESSION_ENCRYPT=false
SESSION_PATH=/
SESSION_DOMAIN=null

BROADCAST_CONNECTION=log
FILESYSTEM_DISK=local
QUEUE_CONNECTION=database

CACHE_STORE=database
# CACHE_PREFIX=
MEMCACHED_HOST=127.0.0.1

# REDIS
REDIS_CLIENT=phpredis
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

# MAIL
MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=127.0.0.1
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@example.com"
MAIL_FROM_NAME="${APP_NAME}"

# AI
APP_AI_DEFAULT_PROVIDER=ollama
APP_AI_DEFAULT_PROVIDER_EMBEDDINGS=ollama
OLLAMA_URL="http://localhost:11434"
OLLAMA_DEFAULT_MODEL="gpt-oss:20b-cloud"
OLLAMA_CHEAPEST_MODEL="gpt-oss:20b-cloud"
OLLAMA_SMARTEST_MODEL="gpt-oss:120b-cloud"
OLLAMA_DEFAULT_EMBEDDINGS_MODEL="bge-m3"
OLLAMA_EMBEDDINGS_DIMENSIONS=1024
AI_EMBEDDINGS_CACHE=false

# AWS SERVICES
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=
AWS_USE_PATH_STYLE_ENDPOINT=false

# VITE
VITE_APP_ENV="${APP_ENV}"
VITE_APP_NAME="${APP_NAME}"
